#layout-body {

}

.test-lab {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#testerResults {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    position: relative;
    top: 0;
    overflow: scroll;
    height: 85%;
    text-shadow: #ccc 1px 1px;
}

#testerResults .failed {
    color: #ff0000;
}

#testerResults .passed {
    color: #009900;
}

#testerResults .row.last {
    margin-bottom: 20px;
}

#testButton {
    text-align: center;
}

#progress {
}
